.locationDetails {
    background-color: #bababa4a;
    color: black;
    border-radius: 9px;
    padding: 10px;
}

.locationDetailsContainer {
    margin-bottom: 20px !important;
}

.nameMargin {
   
}