.outletModalHeader {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
    margin-top: 15px;
}

.soModel {
    font-weight: bold;
    font-size: 16px;
}

.soHr {
    border-top: 1px solid #bababa;
    width: 100%;
}

.updateSoButton {
    background-color: #12bfa2 !important;
    font-size: 15px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-transform: none !important;
}
