.footer-body {
    color: white;
    padding-left: 80px;
    padding-right: 80px;
    background-color: #000000;
}

.footer-logo {
    width: 20rem;
    height: auto;
    cursor: pointer;
}

.footer-copyright-text {
    margin-left: 7px;
}

.footer-social-logo {
   font-size: 30px;  
}

.horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

.horizontal-list li {
    display: inline;
    margin-right: 25px;
    float: right;
}

.horizontal-list li a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}

.horizontal-list-logos {
    min-width: 696px;
    list-style: none;
    padding-top: 30px;
}

.horizontal-list-logos li {
    display: inline;
    margin-right: 25px;
    float: right;
}

.horizontal-list-logos li a {
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}
