.addNewSOButton {
    background-color: #12bfa2 !important;
    font-size: 15px !important;
    margin-right: 20px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-transform: none !important;
    margin-top: 10% !important;
    margin-bottom: 10% !important;
}
