f .smartOutletGridHeader {
    font-size: 13px;
    color: #adaeaf;
}

.smartOutletGridHeader span {
    color: black !important;
}

.smartOutletGridLocationHeader {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.smartOutletGridLocationHeaderSmall {
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.smartOutletGridItem {
    border-right: 1px solid #adaeaf;
}

.smartOutletDetailsText {
    font-weight: bold;
    font-size: 14px;
}

.smartOutletDetailsHeader {
    font-weight: bold;
    color: #5b5d60;
    font-size: 13px;
}

.smartOutletDetailsTextSmall {
    font-size: 11px;
    font-weight: 700;
}

.smartOutletEditDetails {
    margin-bottom: 10px !important;
    padding: 20px;
}
