.smartOutletsContainer {
    margin-top: 20px;
}

.smartSo {
    color: grey !important;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

.green {
    background-color: #16d76f;
}

.outletHeader {
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
    display: inline-flex;
}

.statusBadge {
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
    padding: 5px;
    margin-bottom: 6px;
    border-radius: 7px;
    width: fit-content;
}

.locationBadgeBox {
    padding-right: 5px;
}

.badgeText {
    display: flex;
}

.progressDigits {
    margin-left: 3px;
}

div.overall-progress {
    float: left;
    margin: 0px 2px;
    background-color: #5b5d60;
    height: 23px;
    width: 5px;
    position: relative;
    border-radius: 5px;
}

.greenBar {
    background-color: #16d76f !important;
}
